.about-details {
  width: 100%;
  background: white;
}

/* WHO SECTION */

.who-section {
  width: 100%;
  min-height: 90vh;
  padding: 80px 70px;

  display: grid;
  grid-template-columns: 55% 45%;
  align-items: center;
  background: #ebedf1;
  position: relative;
  overflow: hidden;
}

.section-line {
  width: 70px;
  height: 4px;
  background: #e63946;
  display: block;
  margin-bottom: 20px;
}

.who-content h1 {
  font-size: 64px;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 35px;
}

.who-para {
  width: 75%;
  color: #555;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 35px;
}

.quote-box {
  width: 80%;
  background: #f7f9fc;
  border-left: 5px solid #e63946;
  padding: 25px 30px;
  margin-bottom: 30px;
  position: relative;
}

.quote-box span {
  position: absolute;
  top: -20px;
  left: 15px;
  font-size: 70px;
  color: rgba(230, 57, 70, 0.2);
}

.quote-box p {
  color: #0b1f3a;
  font-size: 15px;
  line-height: 28px;
  font-weight: 600;
}

.founder-name {
  width: 70%;
  background: linear-gradient(90deg, #e63946 0%, #e63946 70%, #0f3970 70%);
  color: white;
  padding: 18px 25px;
}

.founder-name h3 {
  font-size: 20px;
  margin-bottom: 4px;
}

.founder-name p {
  font-size: 13px;
}

.who-image {
  height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.who-image img {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}


@media (max-width: 768px) {
  .who-section {
    padding: 55px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: auto;
    text-align: center;
  }

  .section-line {
    margin: 0 auto 18px;
  }

  .who-content h1 {
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 25px;
  }

  .who-para {
    width: 100%;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 28px;
  }

  .quote-box {
    width: 100%;
    padding: 22px 18px;
    text-align: left;
  }

  .quote-box span {
    font-size: 55px;
    top: -15px;
  }

  .quote-box p {
    font-size: 14px;
    line-height: 26px;
  }

  .founder-name {
    width: 100%;
    padding: 16px 18px;
    text-align: left;
  }

  .founder-name h3 {
    font-size: 18px;
  }

  .founder-name p {
    font-size: 12px;
    line-height: 20px;
  }

  .who-image {
    width: 100%;
    height: 320px;
  }

  .who-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}