.topbar {
  width: 100%;
  height: 42px;

  /* background: #06162b; */
  background: #00449d;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;

  font-size: 13px;
}

.topbar-socials {
  display: flex;
  gap: 19px;

  font-size: 20px;

  cursor: pointer;
}

.topbar-socials a {
  text-decoration: none;
  color: white;
}
.topbar-socials svg {
  transition: 0.3s;
}

.topbar-socials svg:hover {
  color: #e63946;
}

.topbar-item {
  display: flex;
  align-items: center;
  gap: 8px;
}


@media (max-width: 768px) {
  .topbar {
    height: auto;
    padding: 8px 15px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
  }

  .topbar-item {
    font-size: 12px;
  }

  .topbar-socials {
    width: 100%;
    justify-content: center;
    font-size: 17px;
    gap: 16px;
  }
}